<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/global.css" />
    <link rel="stylesheet" href="stylesheets/game.css" />
    <title>SimonGame</title>
  </head>

  <body>
    <div class="container">
      <div id="level"></div>
      <div class="gridContainer">
        <div id="start">START</div>
        <div id="gameover">GAME OVER</div>
        <div id="blockScreen"></div>
        <div class="btn" id="green"></div>
        <div class="btn" id="red"></div>
        <div class="btn" id="yellow"></div>
        <div class="btn" id="blue"></div>
      </div>

      <div class="timeContainer">
        <div class="timeText"></div>
        <div class="timeBar"></div>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

    <script src="javascripts/game.js"></script>
  </body>
</html>
