<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HighScores</title>
  </head>
  <body>
    <!-- <div class="container">
      <div>#</div>
      <div>Username</div>
      <div>Level</div>
    </div> -->

    <% usersWithHighscores.forEach((score)=>{ %>
    <h1><%= score.level %></h1>
    <h1><%= score.userid.name %></h1>
    <% }) %>
  </body>
</html>
