<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="stylesheets/global.css" />
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/highscores.css" />
    <title>Instructions</title>
  </head>
  <body>
    <div class="container">
      <!-- <img class="logo" src="images/Logo.svg" alt="Simon Game Logo" /> -->
      <!-- <img class="logo_text" src="images/Logo_Text.svg" alt="Simon Game" /> -->
      <h1>Instructions</h1>
      <article>
        Tap on START. Simon will flash the first color. Repeat by pressing on
        the same color button. <br /><br />Simon will duplicate the first color
        and add one more. Repeat these two signals by pressing the same color
        buttons, in order.<br /><br />
        Simon will duplicate these first two colors and add one. Continue
        playing as long as you can repeat each sequence of signals correctly.<br /><br />
        If you fail to repeat a sequence exactly, or if you take more than the
        seconds (displayed below) to repeat a sequence,the game will be over.
      </article>
      <a class="button" href="/menu">Go Back</a>
    </div>
  </body>
</html>
