<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/global.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>SimonGame</title>
  </head>
  <body>
    <a style="position:absolute;padding:0;" href="https://github.com/ChoukseyKhushbu/simonGame"><img width="149" height="149" src="https://github.blog/wp-content/uploads/2008/12/forkme_left_gray_6d6d6d.png?resize=149%2C149" class="attachment-full size-full" alt="Fork me on GitHub" data-recalc-dims="1"></a>
    <div class="container">
      <img class="logo" src="images/Logo.svg" alt="Simon Game Logo" />
      <img class="logo_text" src="images/Logo_Text.svg" alt="Simon Game" />

      <a class="button" href="/game">Start</a>
      <a class="button" href="/instructions">Instructions</a>
      <% if(scoreID){%>
        <a class="button" href="/highscores?page=1&scoreID=<%= scoreID %>">High Scores</a>
      <%}else{%>
        <a class="button" href="/highscores">High Scores</a>
      <%}%>
      <a class="button" href="/logout">Log Out</a>
    </div>
  </body>
</html>
