<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap"
      rel="stylesheet"
    />
    <link rel="shortcut icon" href="images/logo.ico" type="image/x-icon" />
    <link rel="stylesheet" href="stylesheets/global.css" />
    <link rel="stylesheet" href="stylesheets/style.css" />
    <title>SimonGame</title>
  </head>
  <body>
    <div class="container">
      <!-- <div class="logoContainer"> -->
      <img class="logo" src="images/Logo.svg" alt="Simon Game Logo" />
      <img class="logo_text" src="images/Logo_Text.svg" alt="Simon Game" />
      <!-- </div> -->

      <a class="button" href="/game">Start</a>
      <a class="button" href="/instructions">Instructions</a>
      <a class="button" href="/highscores">High Scores</a>
      <a class="button" href="/logout">Log Out</a>
    </div>
  </body>
</html>
