.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
#level {
  font-size: 2.5rem;
}
.gridContainer {
  position: relative;
  background: var(--bg-2-color);
  padding: 15px;
  border-radius: 50% 50%;
  height: 350px;
  width: 350px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.gridContainer > div {
  cursor: pointer;
}

#blockScreen,
#start,
#gameover {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50% 50%;
  background-color: var(--blue-overlay);
  cursor: pointer;
}

#blockScreen,
#gameover {
  display: none;
}

#blockScreen {
  cursor: default;
  background-color: transparent;
}
#green {
  background: var(--green);
  border-radius: 220px 10px 10px 10px;
}

#red {
  background: var(--red);
  border-radius: 10px 250px 10px 10px;
}
#yellow {
  background: var(--yellow);
  border-radius: 10px 10px 10px 250px;
}
#blue {
  background: var(--blue);
  border-radius: 10px 10px 250px 10px;
}

/* #timer {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
/* background: #0d3a7e; 
 } */

.timeContainer {
  background: #2560a6;
  height: 50px;
  width: 300px;
  position: relative;
  padding: 5px;
}
.timeText {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.timeBar {
  position: absolute;
  width: calc(100% - 10px);
  height: calc(100% - 10px);
  background: #3273c0;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}
