.table {
  background-color: var(--button-color);
  display: flex;
  flex-direction: row;
  width: 400px;
  position: relative;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.logo {
  margin-top: 30px;
  width: 150px;
  height: 150px;
}

.table > div {
  padding: 10px 20px;
  text-align: center;
  font-size: 16px;
}

.table > .name {
  text-align: left;
  flex-grow: 4;
}
.table > .number {
  min-width: 30px;
}
.button {
  margin-top: 20px;
}
article {
  background-color: var(--button-color);
  text-align: left;
  width: 700px;
  padding: 20px;
  position: relative;
  line-height: 1.5;
}

.table::after,
article::after {
  position: absolute;
  background-color: var(--bg-2-color);
  height: 100%;
  width: calc(100% - 16px);
  left: 8px;
  bottom: -6px;
  content: "";
  z-index: -1;
}

.pageContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.pageContainer a,
.pageContainer div {
  margin: 20px 5px;
}

.active {
  background-color: var(--button-hover-color);
}
